@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/Lato-Regular.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    font-size: large;
    background-color: whitesmoke;
}

.form {
    width: -webkit-fill-available
}

.saved::after {
    position: absolute;
    top: 25%;
    right: 100%;
    display: block;
    content: "Saved";
    font-size: 0.75em;
    padding: 2px 3px;
    color: #fff;
    background-color: rgb(10, 204, 75);
    border-radius: 3px;
    opacity: 0;
    will-change: opacity, transform;
    animation: showcopied 1.5s ease;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
    }
}

.box {
    display: flex;
    column-count: 2;
    justify-content: space-around;
    /* position: relative; */
    margin: 1%;
    color: rgb(4, 26, 39);
    padding: 20px 10px 20px 10px;
    background: #dfdbe5;
    width: auto;
}

.pombox {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 1%;
    position: relative;
    background: lightgray;
    color: rgb(4, 26, 39);
    padding: 20px 10px 20px 10px;
    background: #dfdbe5;
    width: auto;
}

p#warning {
    color: #e91e63;
    font-size: medium;
}

#header .leftImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: .9;
}

input {
    font-family: 'Lato', sans-serif;
}

input[type="button"]:hover {
    cursor: pointer;
    border-radius: 0px;
    background: rgb(14, 70, 103);
    color: white;
}

input[type="button"] {
    font-size: 20px;
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    background: #90c1ff;
    color: black;
    border-radius: 20px;
}

input[type="text"] {
    color: rgb(239, 0, 0);
    padding: 0px 1px 2px 1px;
    border: none;
    border-bottom: 2px solid #FFC107;
    background: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    font-weight: bolder;
    font-size: 20px;
}


img {
    width: 150px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.anchorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}