@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Regular.ttf");
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

.record {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.review p {
  margin: 0;
  color: #001628;
  font-size: small;
  text-align: center;
  /* background: #8c8b8b; */
}

.webtable {
  padding: 5px;
  margin: 0px 0px 10px 0px;
  display: block;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.24);
}

.webtable input {
  border: none;
  color: orangered;
  font-size: medium;
  display: initial;
  width: -webkit-fill-available;
}

/**
To show more XPath option in pop up
*/
.accordion {
  margin: 5px 0px 5px 0px;
  color: rgb(0, 22, 40);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: small;
  transition: 0.2s;
  background-color: rgba(27, 156, 241, 0.7);
}

.active,
.accordion:hover {
  background-color: rgb(27, 241, 134);
}

.panel {
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion:after {
  content: "\002B";
  color: rgb(0, 22, 40);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

#collapsible > label {
  cursor: pointer;
  color: #001628;
  font-weight: bold;
}

.advanced {
  user-select: none;
  text-align: center;
  cursor: pointer;
  padding: 0.6em;
  background-color: rgb(27, 241, 134);
}

.advanced:after {
  content: "\002B";
  color: rgb(0, 22, 40);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  color: black;
  border: none;
  text-align: left;
  outline: none;
}

button#validateAnc {
  user-select: none;
  border-radius: 35px;
  background-color: rgb(27, 156, 241);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: small;
  margin: 2px 1px;
  cursor: pointer;
}

.showVaribale {
  font-family: "Lato", sans-serif;
}

#innertableXP {
  font-family: "Lato", sans-serif;
  display: flex;
  border-radius: 20px;
  justify-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 1.5px 3.5px 1px 0.5px #eee;
}

h2 {
  font-family: "Lato", sans-serif;
  margin: 0px 0px 5px 0px;
}

#tableXP .fa:hover {
  color: greenyellow;
}

div#showLogo {
  display: flex;
  justify-content: space-around;
  box-flex: inherit;
  align-content: center;
}

div#outerDiv {
  font-family: "Lato", sans-serif;
  background: #e6e6e62e;
  color: white;
  position: relative;
}

.ancHeader {
  user-select: none;
}

div#tableXP {
  font-family: "Lato", sans-serif;
  padding: 2px;
  display: block;
}

label {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: black;
  user-select: none;
}

input {
  font-family: "Lato", sans-serif;
  outline: none;
}

.snippets {
  font-family: "Lato", sans-serif;
  padding: 1px 5px 1px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#snippets::-webkit-scrollbar {
  width: 0 !important;
}

textarea {
  font-family: "Lato", sans-serif;
  font-size: small;
  outline: none;
  resize: none;
  width: 100%;
  line-height: 1.75;
  background: #001628;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  color: #fff;
}

input[type="text"] {
  font-family: "Lato", sans-serif;
  background: #fff;
  color: #000;
  width: -webkit-fill-available;
  height: 30px;
  border: none;
  padding: 0px 0px 0px 3px;
  border-radius: 25px 0 0 25px;
}

select {
  font-family: "Lato", sans-serif;
  border-radius: 0px 20px 20px 0px;
  outline: none;
  background: #fff;
  border-color: #fff;
  box-sizing: border-box;
}

option {
  font-family: "Lato", sans-serif;
  outline: none;
  font-size: 13px;
  box-sizing: border-box;
}

button#validateAnc:hover {
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  background: rgb(27, 241, 134);
  color: white;
}

button#copySnippet {
  background-color: rgb(27, 156, 241);
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button#copySnippet:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button#btn {
  font-family: "Lato", sans-serif;
  background: #fff;
  outline: none;
  position: relative;
  cursor: pointer;
  width: 10%;
  border: none;
}

.rutohome {
  cursor: pointer;
}

.copied::after {
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 25%;
  display: block;
  content: "Copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: rgb(10, 204, 75);
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s cubic-bezier(0, 1.14, 0, 1.14);
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  70% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
  }
}

a:link,
a:visited {
  color: black;
  outline: 0;
  text-decoration: none;
}

.showVaribale a {
  font-size: larger;
  text-decoration: underline;
  font: message-box;
}

.Ruto-content {
  padding: 0 22px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  margin: 0px;
}

.flex-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.share {
  display: flex;
}

/* for firfox */
.searchXp {
  display: flex;
}

.searchXp input[type="text"] {
  font-family: "Lato", sans-serif;
  background: #fff;
  color: #000;
  border-radius: 0px;
  background-color: #e6e6e6;
  padding-right: 50px;
}

span.countOfXpath {
  margin-left: -20%;
}

/* for firfox */
.share {
  display: flex;
}

hr {
  border: 0;
  height: 1.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

button img {
  width: 15px;
}

.switchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.likediv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.likediv img {
  height: 15px;
}

/* new switch */
.onoffswitch {
  position: relative;
  width: 47px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 16px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 13px;
  padding: 0;
  line-height: 13px;
  font-size: 8px;
  color: white;
  font-family: Trebuchet, Arial;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #11f05b;
  color: #ffffff;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #fa0808;
  color: #ffffff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 19px;
  margin: -3px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 2px solid #999999;
  border-radius: 16px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* switch closed */

/* Customize the label (the container) */
#anc {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ancHeader {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset -3px -1px 4px 0px #e6e6e6;
  margin-bottom: 10px;
}

.s {
  flex: 1 50%;
}

.attribuesValuesFromNode {
  user-select: none;
  align-items: stretch;
  justify-content: center;
  font-size: small;
  position: relative;
  margin: 5px;
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.attribuesValuesFromNode > label {
  cursor: pointer;
}

.containerAnc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerAnc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerAnc:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerAnc input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerAnc input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerAnc .checkmark:after {
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.record p {
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  font-size: small;
}
/* .chromeBlink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.likediv .chromeBlink:hover {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

*/
@media screen and (max-width: 600px) {
  body {
    width: 380px;
  }
}
